<section class="row">
  <article class="column">
    <h2><b>Sun</b></h2>

    <table>
      <tr>
        <td>Sunrise</td>
        <td><%= @sun_sunrise %></td>
      </tr>
      <tr>
        <td>True Midday</td>
        <td><%= @sun_midday %></td>
      </tr>
      <tr>
        <td>Sunset</td>
        <td><%= @sun_sunset %></td>
      </tr>
      <tr>
        <td>True Midnight</td>
        <td><%= @sun_midnight%></td>
      </tr>
    </table>

  </article>
</section>



<section class="row">

  <article class="column">
    <h2><b>Moon</b></h2>

    <table>
      <tr>
        <td><div TITLE="Number of degrees the moon is from the sun. New moon = 0*. Full Moon = 180*.">Phase in degrees</div></td>
        <td><%= @moon_phase_in_degrees%></td>
      </tr>
      <tr>
        <td><div TITLE="Percentage of the moon's area illuminated.">Illumination</div></td>
        <td><%= @moon_fraction_illuminated%> %</td>
      </tr>
    </table>

    <table>
      <%= for {date, phase} <- @moon_next_phases do %>
      <tr padding="20px">
        <td padding="20px"><%= phase %></td>
        <td><%= date %></td>
      </tr>
      <% end %>
    </table>

  </article>
</section>

<section class="row">
  <article class="column">
    <h2><b>Location</b></h2>
    <table>
      <tr>
        <td>Latitude</td>
        <td><%= @lat %></td>
      </tr>
      <tr>
        <td>Longitude</td>
        <td><%= @long %></td>
      </tr>
      <tr>
        <td>Time zone</td>
        <td><%= @time_zone %></td>
      </tr>
      <tr>
        <td>Region</td>
        <td><%= @region_name %></td>
      </tr>
      <tr>
        <td>City</td>
        <td><%= @city %></td>
      </tr>
    </table>
  </article>
</section>
